@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ponomar&display=swap');
@import "reset.css";
@import "status-bar.css";

body {
    font-family: "Ponomar", system-ui;
}

.welcome-header {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    

}


.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header__text{
    width: 50%;
    

}